<!DOCTYPE html>
<html>
  <head>
    <title>Food Ordering App</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Hello</h1>
    <p>Welcome to next gen solution of ordering food</p>
  </body>
</html>
